src/main/resources/wsdl/calculateVat.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.api.booster.calculate.gastronomy.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloService" targetNamespace="http://ws.api.booster.calculate.gastronomy.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.api.booster.calculate.gastronomy.com/" elementFormDefault="unqualified" targetNamespace="http://ws.api.booster.calculate.gastronomy.com/" version="1.0">
            <xs:element name="calculateVat" type="tns:calculateVat"/>
            <xs:element name="calculateVatResponse" type="tns:calculateVatResponse"/>
            <xs:complexType name="calculateVat">
                <xs:sequence>
                    <xs:element name="productCost" type="xs:double"/>
                    <xs:element name="percentVAT" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="calculateVatResponse">
                <xs:sequence>
                    <xs:element name="vat" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="calculateVatResponse">
        <wsdl:part element="tns:calculateVatResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="calculateVat">
        <wsdl:part element="tns:calculateVat" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Hello">
        <wsdl:operation name="calculateVat">
            <wsdl:input message="tns:calculateVat" name="calculateVat"> </wsdl:input>
            <wsdl:output message="tns:calculateVatResponse" name="calculateVatResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloServiceSoapBinding" type="tns:Hello">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="calculateVat">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="calculateVat">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="calculateVatResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloService">
        <wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloPort">
            <soap:address location="http://localhost:8091/gastronomy-calculate-booster/ws/calculateVat"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>